HELP.md
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
*/log/
*/logs/
/web/src/main/resources/application.yml

gradle.properties.0
web/src/main/resources/application*.yml
/logs/*
/client/src/main/resources/
*/.jvmm/
/extension/jvmm-sysio/cmake-build-debug*/
/jni-header/
/server/src/main/resources/jvmm-logger.jar
/log/
/.jvmm/
/logs/
