server:
  port: 8999
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain,text/css,application/javascript,application/font-woff

spring:
  pid:
    file: app.pid
    fail-on-write-error: true
  datasource:
    url: jdbc:mysql://localhost:3306/jvmm_web_db?useSSL=false&serverTimezone=GMT%2B8&characterEncoding=utf-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    initialization-mode: always
    schema: classpath:db/schema.sql
    username: root
    password:
    continue-on-error: true
    sql-script-encoding: utf-8
    type: com.zaxxer.hikari.HikariDataSource
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  jackson:
    default-property-inclusion: non_null

mybatis-plus:
  mapper-locations: classpath:mapper/*Mapper.xml
  global-config:
    db-config:
      id-type: auto
      field-strategy: not_empty
      column-underline: true
      logic-delete-value: 0
      logic-not-delete-value: 1
      db-type: mysql
    refresh: false
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: true

logging:
  file:
    name: logs/jvmm.log
    path: logs/
  level:
    com.lucifer.springboot.cache.mapper: debug

jvmm:
  username: jvmm_acct
  #  明文：jvmm_pass
  password: 974783dafc6b4e7552516913eea3ada2